.loginanim {
	background: linear-gradient(30deg, #feda75, #fa7e1e, #d62976, #962fbf, #4f5bd5);
	background-size: 300%;
	background-position: 0%;
	transition: background-position 500ms ease-in-out;
}

.loginanim:hover {
	/* animation: wave 500ms ease-in-out forwards; */
	background-position: 100%;
}

.social {
	background: linear-gradient(
		30deg,
		#feda75,
		#fa7e1e,
		#d62976,
		#962fbf,
		#4f5bd5,
		#962fbf,
		#d62976,
		#fa7e1e,
		#feda75
	);
	background-clip: text;
	color: transparent;

	background-size: 1200%;

	animation: wave 2s linear infinite;
}

@keyframes wave {
	to {
		background-position: 0;
	}
	from {
		background-position: 100%;
	}
}

.bttn {
	background: #d62976;
	color: #faf9f6;
	border-radius: 15px;
	width: auto;
	padding-inline: 1.5rem;
	padding-block: 1rem;
	cursor: pointer;
	border: 2px solid black;
	font-size: 1.3rem;
}

.bttn:hover {
	color: black;
}

.heart:hover {
	scale: 1.2;
}
